<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Раздел "о нас"</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
<p>
    Это сайт, дарящий хорошее настроение и забавные картинки :) В разделе "каталог" вы можете выбрать товар и приобрести его
</p>
<p1>
    Если вдруг что-то пошло не так то <a href="mailto:helloworld@gmail.com">напишите нам на почту.</a>
</p1>
<br>
<br>
<p3>
    <iframe src="https://gifer.com/embed/6oa" width=200 height=200.000 ></iframe>
</p3>
</body>
</html>
